/*items-close*/
.menu {
  position: fixed;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  bottom: 30px;
  z-index: 9;
  padding: 0;
  border-radius: 100%;
  background-color: transparent;
  left: 50px;
}

.menu .toggle {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  transition: 0.5s all ease-in-out;
  transform: rotate(270deg);
}

.menu .toggle img {
  text-decoration: none;
  color: #747474;
}

.menu .toggle img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(0px, 20px);
}

.menu .toggle img span:before {
  transition: all ease-in-out 0.00015s;
  -webkit-transition: all ease-in-out 0.00015s;
  content: "+";
  color: #ff0000;
  top: 25px;
  right: 0;
  left: 0;
  font-size: 4em;
}

.menu.active {
  box-shadow: 0 4px 16px 4px #cccccc;
  background-color: #ffffff;
}

.menu .toggle.active {
  transform: rotate(270deg);
  box-shadow: inset 0 0 10px 4px #cccccc, 0 0 0px 10px #ffffff;
  background: #e9e9e9;
  color: #ffffff;
}

.menu .toggle.active img span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-color: #454545;
  background: #e3e3e3;
  border: 1px solid;
  transform: translate(0px, 20px);
}

.menu .toggle.active img span:before {
  content: "Back";
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  font-size: 1em;
  transition: all ease-in-out 0.00015s;
  -webkit-transition: all ease-in-out 0.00015s;
}

.menu .toggle img {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(0%, 20%);
}

.menu .menu-item {
  position: absolute;
  left: 7px;
  list-style: none;
  transform-origin: 141px;
  z-index: 1;
}

.menu .menu-item:hover {
  background-color: transparent;
  border-color: #ffffff;
}

.menu.active .menu-item {
  visibility: visible;
  opacity: 1;
  transition: all ease-in-out 0.5s;
  background-color: transparent;
  border-color: #ffffff;
}

.menu .menu-item img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1.75em;
  color: #cccccc;
  transform: rotate(calc(-120deg * var(--i))) translateX(0px);
}

.menu .menu-item img svg {
  fill: #070707;
}

.menu .menu-item.active img {
  color: #ffffff;
}

.menu .menu-item.active img svg {
  fill: #ffffff;
}

.menu.active .menu-item.active {
  transform: rotate(calc(30deg * var(--i))) translateX(10px);
  transition: all ease-in-out 0.5s;
  background-color: transparent;
  border-color: #ffffff;
}

.indicator {
  position: absolute;
  width: 83px;
  height: 50px;
  transform-origin: right;
  left: calc(50% + 20px);
  pointer-events: none;
  transition: 0.5s;
  transform: rotate(calc(7.2deg * var(--i))) translateX(0px);
}

.indicator::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 225px;
  background-image: url('../../../assets/Helpers/indicator.svg');
  background-position: center 100%;
  background-size: 180px;
  background-repeat: no-repeat;
  top: 15.5px;
  left: 100px;
  transform: 0.5s;
  transition: 0.5s;
  opacity: 0;
  /*border-bottom: 80px solid #ff0000;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;*/
}

.menu.active .indicator::before {
  opacity: 1;
  top: -86.5px;
  left: -130.5px;
  transform: rotate(270deg);
}

.menu .menu-item:nth-child(3).active~.indicator {
  transform: translateX(-103px) rotate(0deg);
}

.menu .menu-item:nth-child(6).active~.indicator {
  transform: translateX(-103px) rotate(50.3deg);
}

.menu .menu-item:nth-child(9).active~.indicator {
  transform: translateX(-103px) rotate(102.15deg);
}

.menu .menu-item:nth-child(12).active~.indicator {
  transform: translateX(-103px) rotate(154.28deg);
}

.menu .menu-item:nth-child(15).active~.indicator {
  transform: translateX(-103px) rotate(203.51deg);
}

.menu .menu-item:nth-child(18).active~.indicator {
  transform: translateX(-103px) rotate(257.14deg);
}

.menu .menu-item:nth-child(21).active~.indicator {
  transform: translateX(-103px) rotate(307.57deg);
}

.nameId {
  position: absolute;
  display: none;
}

.nameId.active {
  display: block;
  transform: rotate(270deg) translateY(25%);
  -webkit-transform: rotate(270deg) translateY(25%);
  width: 125px;
  height: 125px;
  text-align: center;
  justify-content: center;
  left: 18%;
  background: #fff;
  border-radius: 50%;
  padding: 2em 0;
  box-shadow: 0px 1px 4px 4px #e1e1e1;
}

.nameId.active:after {
  content: '';
  width: 200px;
  height: 200px;
  background-color: #070707;
}

.circleButton {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #343434;
  background-color: #ffffff;
  border-color: #ffffff;
  opacity: 1;
  box-shadow: none;
  font-size: 28px;
}

.btn-success-1:hover,
.btn-success-1:active,
.btn-success-1:focus,
.btn-success-1:active:focus {
  color: #343434;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: none;

}

.btn-success-1.disabled,
.btn-success-1:disabled {
  opacity: 0.2;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000
}
/* 
@media only screen and (min-width: 1620px) {
  .menu {
    width: 500px;
    height: 500px;
  }

  .menu .toggle {
    width: 350px;
    height: 350px;
  }

  .menu .menu-item {
    transform-origin: 235px;
    left: 16px;
  }

  .nameId.active {
    width: 210px;
    height: 210px;
    font-size: 1.8em;
  }
  .circleButton {
    font-size: 2em;
    width:auto;
  }

  .menu .menu-item img {
    width: 50px;
    height: 50px;
  }
  .indicator {

  }
  .indicator::before{
    background-size: 220px;
  }
  .menu.active .indicator::before {
    left: -200.5px;
  }
} */

@media only screen and (min-width: 1980px) {
  .menu {
    width: 450px;
    height: 450px;
  }

  .menu .toggle {
    width: 300px;
    height: 300px;
  }

  .menu .menu-item {
    transform-origin: 212px;
    left: 12px;
  }

  .nameId.active {
    width: 180px;
    height: 180px;
    font-size: 1.6em;
  }

  .menu .menu-item img {
    width: 45px;
    height: 45px;
  }

  .indicator {

  }

  .circleButton {}

  .indicator::before {
    width: 150px;
    height: 240px;
    background-size: 280px;
  }

  .menu.active .indicator::before {
    top: -95.5px;
    left: -175.5px;
  }
}