.heads {
  position: relative;
  transform: translate(0, 0);
  top: 50px;
  width: 100%;
  left: 50px;
  z-index: 9;
}

.back-img {
  position: relative;
  height: 100vh;
  width: 100%;
}

.backFeel {
  background-image: url('../../assets/backScreen.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-size: cover;
}

.tableTool {
  background-image: url('../../assets/cSlider/desk1.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  box-shadow: 2px 2px 2px #cccccc;
  filter: blur(10px);
}

.heads .hamburger {
  display: flex;
  float: left;
  width: 100%;
  align-items: center;
}

.heads .hamburger h1 {
  font-family: "Open Sans", sans-serif;
  font-size:2.4em;
  font-weight: 700;
}

.main-area {
  width: 100%;
  transform: translate(0px, 25px);
}

.main-area h1 {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.main-area h2 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size:1.8em;
}

.main-area p {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size:1.4em;
  width: 100%;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  transform: translate(0px, 25px);
  margin: 25px 0
}
.main-area span {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  width: 85%;
  padding: 0px;
  text-align: justify;
  margin: 0 0 50px 0;
  display: block;
  line-height: 1.6em;
}

#myBtn {
  font-size:1.6em;
  border: none;
  left: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.btn-danger {
  border-radius: 50px;
  width: 25%;
  font-size: 1.4em;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  transform: translate(0px, 25px);
}

.wSLogo {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.wSLogo img {
  width: 80px;
}
.svgBurgerIcon {
  width:2.5em;
  height:2.5em;
}
@media only screen and (min-width: 1320px) {
  .heads .hamburger h1 {
    font-size: 2em;
  }
  .main-area h1 {
    font-size: 2em;
    font-weight: 800;
  }
  .main-area span {
    font-size:1.8em;
    line-height: 1.6em;
  }
  .main-area p {
    font-size: 1.2em;
    font-weight: 400;
  }
  .wSLogo img {
        width:80px
  }
  .svgBurgerIcon {
    width:1.5em;
    height:1.5em;
  }
  .heads .hamburger h1{
    font-size: 2em;
  }
}
@media only screen and (min-width: 1540px) {
  .heads .hamburger h1 {
    font-size:2em;
  }
  .main-area h1 {
    font-size: 2.4em;
    font-weight: 800;
  }
  .main-area span {
    font-size:21px;
    line-height: 1.6em;
  }
  .main-area p {
    font-size:1.4em;
    font-weight: 400;
  }
  .wSLogo img {
        width:80px
  }
  .svgBurgerIcon {
    width:1.5em;
    height:1.5em;
  }
  .heads .hamburger h1{
    font-size:2.4em;
  }
}
@media only screen and (min-width: 1980px) {
  .heads .hamburger h1 {
    font-size: 3.2em;
  }
  .main-area h1 {
    font-size:3em;
    font-weight: 800;
  }
  .main-area span {
    font-size:1.6em;
    line-height: 1.6em;
  }
  .main-area p {
    font-size: 1.4em;
    font-weight: 400;
  }
  .wSLogo img {
        width:120px
  }
}